#header{
	background:none;
	color:white;	
}

.introBox {
	margin-bottom:10px;
	background:rgba(051,153,204,0.5);
}

.tallBox{
	height:310px;
	visibility:visible;
	vertical-align:middle;	
	background: url('../images/Putting-Green-Background_dark.jpg');
}

.sideBar	{
	height:470px;
	margin-right:0px;
	margin-left:0px;
	background:rgba(051,153,204,0.5); 
}

.gridContainer	{
	width:750px;	
	margin-right:0px;
	
}

.smallBox{
	height:150px;
	visibility:visible;
	background:url('../images/Putting-Green-Background_dark.jpg');
}

.blankBox {
	visibility:hidden;
	height:10px;
}

.bottomBox {
	margin-top: 10px;
	background:url('../images/Putting-Green-Background_dark.jpg');
}

.lowerGrids{
	margin-top:10px;
	
}
